<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Templates!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel = "icon" href = "Official.JPEG" type = "image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet'>
    <script src='main.js'></script>
    <style>
    </style>
</head>
<body>
    <div class="nav-main">
        <div class="nav">
            <a href="../index.html">Home</a>
            <a href="#animated">Animated</a>
            <a href="#cute">Cute</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <h1>Template Collection!</h1>
        </div>
    </div>
    <div class="content-wrapper">
        <div id="animated" class="content-container">
            <h2>Animated!</h2>
            <div class="box-1">
            <div class="showpage-1">
                <div class="container-sp1">
                    <img src="Pictures/Page1.JPG" class="profile-pic">
                    <h1>ichika</h1>
                    <p>She/Her</p>
                    <p>Status: Alive</p>
                    <p>Young Musican From Japan! 
                      <br>  check out my work on my youtube channel or spotify 
                       <br> (links below!) Lots of love from 一千花</p>
                    <button class="social-btn">Facebook</button><br>
                    <button class="social-btn">Instagram</button><br>
                    <button class="social-btn">Spotify</button><br>
                    <button onclick="location.href='Animated-Space/'" class="social-btn">Use This Template</button><br>
            </div>
            </div>
            <div class="showpage-1">
                <div class="container-sp2">
                    <img src="Pictures/aq.jpg" class="profile-pic">
                    <h1>ichika</h1>
                    <p>She/Her</p>
                    <p>Status: Alive</p>
                    <p>Young Musican From Japan! 
                      <br>  check out my work on my youtube channel or spotify 
                       <br> (links below!) Lots of love from 一千花</p>
                    <button class="aq-btn">Facebook</button><br>
                    <button class="aq-btn">Instagram</button><br>
                    <button class="aq-btn">Spotify</button><br>
                    <button onclick="location.href='Animated-Aquatic/'"class="aq-btn">Use This Template</button><br>
                </div>
            </div>
        </div>
        <div class="box-1">
        <div class="showpage-1">
            <div class="container-sp3">
                <img src="Pictures/jg.jpg" class="profile-pic">
                <h1>ichika</h1>
                <p>She/Her</p>
                <p>Status: Alive</p>
                <p>Young Musican From Japan! 
                  <br>  check out my work on my youtube channel or spotify 
                   <br> (links below!) Lots of love from 一千花</p>
                <button class="aq-btn">Facebook</button><br>
                <button class="aq-btn">Instagram</button><br>
                <button class="aq-btn">Spotify</button><br>
                <button onclick="location.href='Animated-Jungle/'"class="aq-btn">Use This Template</button><br>
        </div>
    </div>
    <div class="showpage-1">
        <div class="container-sp4">
            <img src="Pictures/as.jpg" class="profile-pic">
            <h1>ichika</h1>
            <p>She/Her</p>
            <p>Status: Alive</p>
            <p>Young Musican From Japan! 
              <br>  check out my work on my youtube channel or spotify 
               <br> (links below!) Lots of love from 一千花</p>
            <button class="aq-btn">Facebook</button><br>
            <button class="aq-btn">Instagram</button><br>
            <button class="aq-btn">Spotify</button><br>
            <button onclick="location.href='Animated-Clouds/'"class="aq-btn">Use This Template</button><br>
    </div>
</div>
</div>
<div class="box-1">
<div class="showpage-1">
    <div class="container-sp5">
        <img src="Pictures/bl.jpg" class="profile-pic">
        <h1>Blizzy</h1>
        <p>He/Him</p>
        <p>Status: Online</p>
        <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
        <button class="aq-btn">Facebook</button><br>
        <button class="aq-btn">Instagram</button><br>
        <button class="aq-btn">Spotify</button><br>
        <button onclick="location.href='Animated-City/'" class="aq-btn">Use This Template</button><br>
</div>
</div>
<div class="showpage-1">
    <div class="container-sp6">
        <img src="Pictures/bl2.jpg" class="profile-pic">
        <h1>Blizzy</h1>
        <p>He/Him</p>
        <p>Status: Online</p>
        <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
        <button class="aq-btn">Facebook</button><br>
        <button class="aq-btn">Instagram</button><br>
        <button class="aq-btn">Spotify</button><br>
        <button  onclick="location.href='Animated-Mountains/'" class="aq-btn">Use This Template</button><br>
</div>
</div>
</div>
<div class="box-1">
<div class="showpage-1">
    <div class="container-sp7">
        <img src="Pictures/bl3.jpg" class="profile-pic">
        <h1>Blizzy</h1>
        <p>He/Him</p>
        <p>Status: Online</p>
        <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
        <button class="aq-btn">Facebook</button><br>
        <button class="aq-btn">Instagram</button><br>
        <button class="aq-btn">Spotify</button><br>
        <button onclick="location.href='Animated-Clouds-2/'" class="aq-btn">Use This Template</button><br>
</div>
</div>
<div class="showpage-1">
    <div class="container-sp18">
        <img src="Pictures/bl-6.jpg" class="profile-pic">
        <h1>Blizzy</h1>
        <p>He/Him</p>
        <p>Status: Online</p>
        <p class="c-white">Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
        <button class="aq-btn">Facebook</button><br>
        <button class="aq-btn">Instagram</button><br>
        <button class="aq-btn">Spotify</button><br>
        <button onclick="location.href='Animated-Stars/'" class="aq-btn">Use This Template</button><br>
</div>
</div>

</div>
<div class="box-1">
    <div class="showpage-1">
        <div class="container-sp19">
            <img src="Pictures/bl-5.jpg" class="profile-pic">
            <h1>Blizzy</h1>
            <p>He/Him</p>
            <p>Status: Online</p>
            <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
            <button class="aq-btn">Facebook</button><br>
            <button class="aq-btn">Instagram</button><br>
            <button class="aq-btn">Spotify</button><br>
            <button onclick="location.href='Animated-Clouds-3/'" class="aq-btn">Use This Template</button><br>
    </div>
    </div>
    <div class="showpage-1">
        <div class="container-sp20">
            <img src="Pictures/bl-7.png" class="profile-pic">
            <h1>Blizzy</h1>
            <p>He/Him</p>
            <p>Status: Online</p>
            <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
            <button class="aq-btn">Facebook</button><br>
            <button class="aq-btn">Instagram</button><br>
            <button class="aq-btn">Spotify</button><br>
            <button onclick="location.href='Animated-Mountains-2/'" class="aq-btn">Use This Template</button><br>
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    <div class="content-wrapper">
        <div id="cute" class="content-container">
            <h2>Cute!</h2>
            <div class="box-1">
            <div class="showpage-1">
                <div class="container-sp8">
                    <img src="Pictures/cp.jpg" class="profile-pic">
                    <h1>ichika</h1>
                    <p>She/Her</p>
                    <p>Status: Alive</p>
                    <p class="c-white">Young Musican From Japan! 
                      <br>  check out my work on my youtube channel or spotify 
                       <br> (links below!) Lots of love from 一千花</p>
                    <button class="aq-btn">Facebook</button><br>
                    <button class="aq-btn">Instagram</button><br>
                    <button class="aq-btn">Spotify</button><br>
                    <button onclick="location.href='Cute-Road/'" class="aq-btn">Use This Template</button><br>
            </div>
        </div>
        <div class="showpage-1">
            <div class="container-sp9">
                <img src="Pictures/gp.jpg" class="profile-pic">
                <h1>ichika</h1>
                <p>She/Her</p>
                <p>Status: Alive</p>
                <p>Young Musican From Japan! 
                  <br>  check out my work on my youtube channel or spotify 
                   <br> (links below!) Lots of love from 一千花</p>
                <button class="aq-btn">Facebook</button><br>
                <button class="aq-btn">Instagram</button><br>
                <button class="aq-btn">Spotify</button><br>
                <button onclick="location.href='Cute-Nature/'"class="aq-btn">Use This Template</button><br>
        </div>
    </div>
    </div>
    <div class="box-1">
    <div class="showpage-1">
        <div class="container-sp10">
            <img src="Pictures/cp2.jpg" class="profile-pic">
            <h1>Blizzy</h1>
            <p>He/Him</p>
            <p>Status: Online</p>
            <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
            <button class="aq-btn">Facebook</button><br>
            <button class="aq-btn">Instagram</button><br>
            <button class="aq-btn">Spotify</button><br>
            <button onclick="location.href='Cute-Mountain/'"class="aq-btn">Use This Template</button><br>
    </div>
    </div>
    <div class="showpage-1">
        <div class="container-sp11">
            <img src="Pictures/cw-4.jpg" class="profile-pic">
            <h1>ichika</h1>
            <p>She/Her</p>
            <p>Status: Alive</p>
            <p>Young Musican From Japan! 
              <br>  check out my work on my youtube channel or spotify 
               <br> (links below!) Lots of love from 一千花</p>
            <button class="aq2-btn">Facebook</button><br>
            <button class="aq2-btn">Instagram</button><br>
            <button class="aq2-btn">Spotify</button><br>
            <button onclick="location.href='Cute-Sky/'"class="aq2-btn">Use This Template</button><br>
    </div>
</div>
</div>
<div class="box-1">
<div class="showpage-1">
    <div class="container-sp12">
        <img src="Pictures/bl-4.jpg" class="profile-pic">
        <h1>Blizzy</h1>
        <p>He/Him</p>
        <p>Status: Online</p>
        <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
        <button class="aq-btn">Facebook</button><br>
        <button class="aq-btn">Instagram</button><br>
        <button class="aq-btn">Spotify</button><br>
        <button onclick="location.href='Cute-City/'"class="aq-btn">Use This Template</button><br>
</div>
</div>
<div class="showpage-1">
    <div class="container-sp13">
        <img src="Pictures/cw-5.jpg" class="profile-pic">
        <h1>Blizzy</h1>
        <p>He/Him</p>
        <p>Status: Online</p>
        <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
        <button class="aq-btn">Facebook</button><br>
        <button class="aq-btn">Instagram</button><br>
        <button class="aq-btn">Spotify</button><br>
        <button onclick="location.href='Star-Bears/'"class="aq-btn">Use This Template</button><br>
</div>
</div>
</div>
<div class="box-1">
<div class="showpage-1">
    <div class="container-sp14">
        <img src="Pictures/cw-6.png" class="profile-pic">
        <h1>Blizzy</h1>
        <p>He/Him</p>
        <p>Status: Online</p>
        <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
        <button class="aq-btn">Facebook</button><br>
        <button class="aq-btn">Instagram</button><br>
        <button class="aq-btn">Spotify</button><br>
        <button onclick="location.href='Cute-Bears/'"class="aq-btn">Use This Template</button><br>
</div>
</div>
<div class="showpage-1">
    <div class="container-sp15">
        <img src="Pictures/cw-7.jpg" class="profile-pic">
        <h1>Blizzy</h1>
        <p>He/Him</p>
        <p>Status: Online</p>
        <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
        <button class="aq-btn">Facebook</button><br>
        <button class="aq-btn">Instagram</button><br>
        <button class="aq-btn">Spotify</button><br>
        <button onclick="location.href='Shinchan/'"class="aq-btn">Use This Template</button><br>
</div>
</div>
</div>
<div class="box-1">
    <div class="showpage-1">
        <div class="container-sp16">
            <img src="Pictures/cw-8.jpg" class="profile-pic">
            <h1>Blizzy</h1>
            <p>He/Him</p>
            <p>Status: Online</p>
            <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
            <button class="aq-btn">Facebook</button><br>
            <button class="aq-btn">Instagram</button><br>
            <button class="aq-btn">Spotify</button><br>
            <button onclick="location.href='Adventure-Time/'"class="aq-btn">Use This Template</button><br>
    </div>
    </div>
    <div class="showpage-1">
        <div class="container-sp17">
            <img src="Pictures/cw-9.jpeg" class="profile-pic">
            <h1>Blizzy</h1>
            <p>He/Him</p>
            <p>Status: Online</p>
            <p>Life is interesting in it's own ways! <br> i like to upload some content on my youtube channel <br> and listen to chill and sad music!</p>
            <button class="aq-btn">Facebook</button><br>
            <button class="aq-btn">Instagram</button><br>
            <button class="aq-btn">Spotify</button><br>
            <button onclick="location.href='Adventure-Time-2/'"class="aq-btn">Use This Template</button><br>
    </div>
    </div>
    </div>
    <div class="box-1">
    <div class="showpage-1">
        <div class="container-sp21">
            <img src="Pictures/hk.jpg" class="profile-pic">
            <h1>ichika</h1>
            <p>She/Her</p>
            <p>Status: Hacking</p>
            <p>Young Musican From Japan! 
              <br>  check out my work on my youtube channel or spotify 
               <br> (links below!) Lots of love from 一千花</p>
            <button class="aq-btn">Facebook</button><br>
            <button class="aq-btn">Instagram</button><br>
            <button class="aq-btn">Spotify</button><br>
            <button onclick="location.href='Smiley-Balls/'" class="aq-btn">Use This Template</button><br>
    </div>
</div>
<div class="showpage-1">
    <div class="container-sp22">
        <img src="Pictures/hk-2.png" class="profile-pic">
        <h1>ichika</h1>
        <p>She/Her</p>
        <p>Status: Coder</p>
        <p>Young Musican From Japan! 
          <br>  check out my work on my youtube channel or spotify 
           <br> (links below!) Lots of love from 一千花</p>
        <button class="aq-btn">Facebook</button><br>
        <button class="aq-btn">Instagram</button><br>
        <button class="aq-btn">Spotify</button><br>
        <button onclick="location.href='Cute-Room/'"class="aq-btn">Use This Template</button><br>
</div>
</div>
</div>
<div id="contact" class="content-wrapper">
    <div class="content-container">
        <p>@ 2022 Aesthetic.Page All Rights Reserved</p>
        </div>
        </div>
</body>
</html>
